@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	padding: 0;
	overflow-x: hidden;

}

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
	transition: 0.5s;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px;
}



/* header */
header {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
}

li {
	position: relative;
	cursor: pointer;
}

li::before {
	content: "";
	background: #ffff;
	height: 3px;
	bottom: -2px;
	left: 0;
	position: absolute;
	transition: all 0.3s;
	width: 0;
	z-index: 1;
	cursor: pointer;

}

li:hover::before {
	width: 100%;
}


.button {
	border-radius: 8px;
	border: 1px solid #fc7f39;
	background-color: transparent;
	padding: 7px 23px;
	color: #fff;
	font-weight: 500;
}

.button:hover {
	background-color: #fc7f39;
	color: #fff;
}

#large-header {
	background-image: linear-gradient(90deg, #002a56 24%, #00539d 69%);
	width: 100vw;
	margin: auto;
	height: 500px;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.card {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}